# Ignore all files by default
*

# Allow only specific files
!leds.c
!leds.elf
!leds.hex
!linker.ld
!picorv32-fpga.qpf
!picorv32-fpga.qsf
!picorv32.v
!riscv.ld
!top_tb.v

# Ignore all backup and temporary files
*.bak
*.tmp
*.log
*.pb
*.stp
*.rpt

# Ignore all directories
*/

# Allow the root-level specific files above
!.gitignore

